# Visual Studio
.vs/  
# Build results
[Dd]ebug/  
[Rr]elease/  
x64/  
x86/  
# Visual Studio temporary files
*.userprefs  
# Rider
.idea/  
# User-specific files
*.suo  
*.user  
# Build directories
bin/  
obj/  
# Other files
*.log  
*.tlog  
# Packages
packages/  
# NuGet
*.nupkg  
# Other
*.sln.docstates